{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3{
    text-align: center;
  }
</style>


<form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
  <div class="form-floating mb-3">
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
    <label for="id_old_password">Old password</label>
  </div>
  <div class="form-floating">
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <label for="id_new_password1">New password</label>
  </div>
  <div class="form-floating">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
    <label for="id_new_password2">New password (again)</label>
  </div>

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-lg btn-dark btn-block" type="submit">Submit</button>  
</form>


<p style="text-align: center;"> <br>Your new password should: <br><br>
  •	Be at least 8 characters<br>
  •	Be a combination of letters and numbers<br>
  •	Not be a common password
</p> 




{% endblock %}
