{% extends "admin/change_list.html" %}
{% load static %}

{% block content_title %}
    <h1>Rating Summary</h1>
{% endblock %}

{% block result_list %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<table>
    <thead>
        <tr>
            <th>
                <div class="text">
                    <a href="#">Rating</a>
                </div>
            </th>
            <th>
                <div class="text">
                    <a href="#">Rating Count</a>
                </div>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for entry in rating_summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
            
                <td> {{ entry.rating }} </td>
                <td> {{ entry.rating_count }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="m-5">
    <h2> Rating Histogram </h2>
    <div style="width: 400px; height: 300px;">
        <canvas id="ratingHistogram"></canvas>
    </div>
</div>
<script>
    var ratingCounts = {};
        var ratingLabels = [];
        {% for entry in rating_summary %}
            var label = "{{ entry.rating }}";
            var count = {{ entry.rating_count }};
            
            var existingIndex = ratingLabels.indexOf(label);
            
            if(existingIndex !== -1) {
                ratingCounts[label] += count;
            } else {
                ratingLabels.push(label);
                ratingCounts[label] = count;
            }
        {% endfor %}

        var mergedRatingCounts = [];
        for(var label in ratingCounts) {
            mergedRatingCounts.push(ratingCounts[label]);
        }

    // histogram
    var ctx = document.getElementById('ratingHistogram').getContext('2d');
    var ratingHistogram = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ratingLabels,
            datasets: [{
                label: 'Rating Counts',
                data: ratingCounts,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
