
.navbar-nav .nav-link {
    color: #000000;
    transition: color 0.3s ease; 
}


.navbar-nav .nav-link:hover {
    color: #b37ec3; 
}

.navbar-brand {
    color: #000000; 
    font-family: 'Segoe Script' !important;
}


.navbar-toggler-icon {
    background-color: #fff; 
    transition: background-color 0.3s ease;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-color: #b37ec3;
}

.navbar-nav .purple-btn {
    color: #b37ec3;
    transition: background-color 0.3s ease;
}

.navbar-nav .purple-btn:hover {
    color:  #000000;
}
